vision/src/main/resources/codeReprocessing.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://remoting.mikealbert.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CodeReprocessingService" targetNamespace="http://remoting.mikealbert.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://remoting.mikealbert.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://remoting.mikealbert.com/">
<xs:element name="reprocessVendorCode" type="tns:reprocessVendorCode"/>
<xs:element name="reprocessVendorCodeResponse" type="tns:reprocessVendorCodeResponse"/>
<xs:complexType name="reprocessVendorCode">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:vendorMaintCodeVO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="vendorMaintCodeVO">
<xs:sequence>
<xs:element minOccurs="0" name="messageId" type="xs:string"/>
<xs:element minOccurs="0" name="operationCode" type="xs:string"/>
<xs:element minOccurs="0" name="partServiceCode" type="xs:string"/>
<xs:element minOccurs="0" name="partServiceDesc" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reprocessVendorCodeResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="MalException" type="tns:MalException"/>
<xs:complexType name="MalException">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="reprocessVendorCode">
    <wsdl:part element="tns:reprocessVendorCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reprocessVendorCodeResponse">
    <wsdl:part element="tns:reprocessVendorCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MalException">
    <wsdl:part element="tns:MalException" name="MalException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CodeReprocessing">
    <wsdl:operation name="reprocessVendorCode">
      <wsdl:input message="tns:reprocessVendorCode" name="reprocessVendorCode">
    </wsdl:input>
      <wsdl:output message="tns:reprocessVendorCodeResponse" name="reprocessVendorCodeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MalException" name="MalException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CodeReprocessingServiceSoapBinding" type="tns:CodeReprocessing">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="reprocessVendorCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reprocessVendorCode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reprocessVendorCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MalException">
        <soap:fault name="MalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeReprocessingService">
    <wsdl:port binding="tns:CodeReprocessingServiceSoapBinding" name="CodeReprocessingPort">
      <soap:address location="http://localhost:8082/webservices/codeReprocessing"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>