vision/src/main/resources/locationReprocessing.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://remoting.mikealbert.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LocationReprocessingService" targetNamespace="http://remoting.mikealbert.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://remoting.mikealbert.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://remoting.mikealbert.com/">
<xs:element name="reprocessLocation" type="tns:reprocessLocation"/>
<xs:element name="reprocessLocationResponse" type="tns:reprocessLocationResponse"/>
<xs:complexType name="reprocessLocation">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:storeLocationVO"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="storeLocationVO">
<xs:sequence>
<xs:element minOccurs="0" name="addressLine1" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine2" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine3" type="xs:string"/>
<xs:element minOccurs="0" name="addressLine4" type="xs:string"/>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="clearanceInFeet" type="xs:long"/>
<xs:element minOccurs="0" name="countyCode" type="xs:string"/>
<xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
<xs:element minOccurs="0" name="faxNumber" type="xs:string"/>
<xs:element minOccurs="0" name="messageId" type="xs:string"/>
<xs:element minOccurs="0" name="numberOfBays" type="xs:long"/>
<xs:element minOccurs="0" name="operationCode" type="xs:string"/>
<xs:element minOccurs="0" name="saturdayEndTime" type="xs:string"/>
<xs:element minOccurs="0" name="saturdayStartTime" type="xs:string"/>
<xs:element minOccurs="0" name="stateProv" type="xs:string"/>
<xs:element minOccurs="0" name="storeCode" type="xs:string"/>
<xs:element minOccurs="0" name="storeName" type="xs:string"/>
<xs:element minOccurs="0" name="sundayEndTime" type="xs:string"/>
<xs:element minOccurs="0" name="sundayStartTime" type="xs:string"/>
<xs:element minOccurs="0" name="telephoneNumber" type="xs:string"/>
<xs:element minOccurs="0" name="weekdayEndTime" type="xs:string"/>
<xs:element minOccurs="0" name="weekdayStartTime" type="xs:string"/>
<xs:element minOccurs="0" name="zipCode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="reprocessLocationResponse">
<xs:sequence/>
</xs:complexType>
<xs:element name="MalException" type="tns:MalException"/>
<xs:complexType name="MalException">
<xs:sequence>
<xs:element name="message" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="reprocessLocation">
    <wsdl:part element="tns:reprocessLocation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reprocessLocationResponse">
    <wsdl:part element="tns:reprocessLocationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MalException">
    <wsdl:part element="tns:MalException" name="MalException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LocationReprocessing">
    <wsdl:operation name="reprocessLocation">
      <wsdl:input message="tns:reprocessLocation" name="reprocessLocation">
    </wsdl:input>
      <wsdl:output message="tns:reprocessLocationResponse" name="reprocessLocationResponse">
    </wsdl:output>
      <wsdl:fault message="tns:MalException" name="MalException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocationReprocessingServiceSoapBinding" type="tns:LocationReprocessing">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="reprocessLocation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reprocessLocation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reprocessLocationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MalException">
        <soap:fault name="MalException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationReprocessingService">
    <wsdl:port binding="tns:LocationReprocessingServiceSoapBinding" name="LocationReprocessingPort">
      <soap:address location="http://localhost:8082/webservices/locationReprocessing"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>